{% extends "portfolio/base.html" %}

{% block content %}
    <section class="card-header text-center box-shadow">
      <h3>Home</h3>
	  <small>Welcome! Explore to learn about me and my work.</small>
    </section>
    <div class="row no-gutters">
    {% for module in modules %}
        <div class="col-md-6">
          <div class="mb-6">
            <div class="card-body box-shadow">
              <i class="{{ module.icon }}" style="font-size:32px"></i>
              <h4 class="text-center">{{ module.title }}</h4>
              <p class="card-text">{{ module.content }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <a role="button" class="btn btn-sm btn-outline-secondary" href="{% url module.url %}">View</a>
                <small class="text-muted">{{ module.title }}</small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
	</div>
{% endblock content %}
