{% extends "portfolio/base.html" %}

{% block content %}
    <section class="card-header text-center box-shadow">
      <h3>Skills</h3>
      <small>Software Engineer and Web Developer</small>
    </section>
	<!-- Main Content -->
    <div class="row no-gutters">
      {% for paradigm, skills in paradigms.items %}
      <div class="col-md-6 box-shadow">
        <section class="mt-2 card-header text-center">
          <i class="{{ paradigm.icon }}"></i>
          <h4>{{ paradigm }}</h4>
        </section>
        <div class="row no-gutters">
        {% for skill in skills %}
            <div class="col-md-6">
              <div class="card-body">
                <h4 class="text-center">{{ skill.title }}</h4>
                <small class="text-muted">{{ skill.get_months|floatformat:"0" }} months</small>
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock content %}
