/* Main */

html {
    background: linear-gradient(to bottom, #202020, #111119) fixed;
    overflow-y: scroll;
}

body {
    font-family: Raleway,sans-serif;
    color: #eee;
    background: transparent;
    max-width: 900px;
    margin: 0 auto;
}

header	{
    margin: 16px;
    display: block;
}

footer	{
    margin: 16px;
    display: block;
}

card {
    background: transparent;
}

/* Headings */

h1{font-size:64px}
h2{font-size:32px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:16px}
h6{font-size:14px}

h1,h2,h3,h4,h5,h6.h7	{
    font-weight: 400;
}

p {
    font-size: 14px;
}

/* Links */

a {
    color: #bbb;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #eee;
}

a:active {
    text-decoration: underline;
}

a.home {
    text-decoration: none;
    color: #eee;
}

/* Styles */

.copyright {
    font-size: 11px;
    font-style: italic;
}

.box-shadow {
    box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.5);
}

/* Gradients */

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

#gradient-top {
    height: 2px;
    color: #fff;
    width: 100%;
    margin: 24px auto;
    background: linear-gradient(-90deg, #f80c12, #ee1100, #ff3311, #ff4422, #ff6644, #ff9933, #feae2d, #ccbb33, #d0c310, #aacc22, #69d025, #22ccaa, #12bdb9, #11aabb, #4444dd, #3311bb, #3b0cbd, #442299);
    background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
}

#gradient-bottom {
    height: 2px;
    color: #fff;
    width: 50%;
    margin: 16px auto;
    background: linear-gradient(-90deg, #242424, #484848, #242424);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
}